*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 1440px;
    max-width: 100%;
}
.blue-background{ 
   
    position: absolute;
    width: 50%;
    height: 810px;
    left: 50%;
    top: 0px;
    background: #2B7AF1;
    border-radius: 0px 0px 0px 10px;
    z-index: -1;
}
.wrap-navigation-left{
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 54px;
    width: 136px;
    padding-top: 30px;
    margin-right: 54px;
    padding-left: 50px;
    margin-left: 50px;
}
nav{
   margin-top: 42px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #111111;
}
.ul-navigation{
    display: flex;
    list-style: none;
}
.menu-item{
    margin-right: 40px;
}
.menu-item a{
    text-decoration: none;
    color: #4B5D68;
}
.wrap-navigation-right{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.header-mail{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.header-mail a{
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
    
}
.header-phone{
    display: flex;
    align-items: center;
    padding-right: 25px;
}
.header-phone a{
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 10px;
}

.header-btn{
    min-width: max-content;
    text-align: center;
    padding: 15px 30px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: none;
    cursor: pointer; 
    max-height: 52px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-right: 80px;
}
.title{
    display: flex;
    justify-content: space-between;
    padding-top: 78px;
}
.content-title{
    display: block;
    padding-left: 80px;
    padding-top: 60px;
    padding-bottom: 67px;

}
.content-title h1{
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #111111;
}
.content-title p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 33px;
    color: #111111;
}
.btn-title{
    font-size: 18px;
    line-height: 22px;
    min-width: max-content;
    text-align: center;
    padding: 15px 30px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: none;
    cursor: pointer; 
}
.img-title img{
    max-width: 895px;
    height: 473px;
    border-radius: 10px 0px 0px 10px;
}
.inside-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin: 60px 80px 70px 80px;
}
.inside-card{
    max-width: 305px;
    min-height: 231px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inside-card img{
    width: 80px;
    height: auto;
    margin-bottom: 26px;
}
.inside-card{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.apartments{
    padding-left: 80px;
}
.title-our-apartments{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
    margin-top: 115px;
    margin-bottom: 40px;
}
.cards-apartmens{
    grid-template-columns: 522px 196px 522px;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: grid;
    margin-bottom: 60px;
}
.card-apartment{
    display: grid;
    align-items: end;
    align-content: end;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 10px 20px rgba(17, 17, 17, 0.1));
    border-radius: 10px;
    padding: 20px 40px;
    position: relative;
    transition: color .5s ease;
    cursor: pointer;
    
}
.card-apartment::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(17, 17, 17, 0.5);
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    opacity: 0.65;
    z-index: -1;
}
.card-apartment:hover::before{
    opacity: 0.85;
}
.card-apartment:nth-child(1){
    background-image: url(../img/one-room\ apartment.jpg);
    grid-column:  1 / 3;
    background-size: 112%;
}
.card-apartment:nth-child(2){
    background-image: url(../img/three-room\ apartment.jpg);
}
.card-apartment:nth-child(3){
    background-image: url(../img/double-room\ apartmen.jpg);
}
.card-apartment:nth-child(4){
    background-image: url(../img/five-room\ apartment.jpg);
    grid-column: 2 / 4;
    background-size: 112%;
}
.card-apartment h3{
    font-family:'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 65px;
    grid-column: 1 / 3;
}
.card-apartment p{
    font-family:'Montserrat', sans-serif;
    margin-bottom: 18px;
}
.card-apartment p span{
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding-left: 10px;
}
.card-apartment-location{
    position: relative;
    grid-row: 3;
}
.card-apartment-location-img{
    width: 22px;
   
}
.btn-details{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 20px;
    justify-self: end;
    grid-row: 3;
    min-width: 126px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    
}
.btn-apartmen-new{
    position: absolute;
    left: 40px;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px;
    background: #5CB85C;
    border-radius: 20px;
    border: 0;
}
.btn-look-all{
    min-width: max-content;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    grid-column: 1 / 4;
    justify-self: center;
    padding: 15px 50px;
    margin-top: 60px;
}

.about-us-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
    margin-bottom: 40px;
    padding-left: 80px;
}
.about-us-card-content h2{
    font-family: 'Montserrat', sans-serif;
    color: #2B7AF1;
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
    margin-bottom: 10px;
}
.about-us-card-content p{
    font-family:  'Manrope', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #111111;
}
.about-us-cards{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 80px;
    
}
.about-us-cards p{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 433px;

}
.about-us-card{
    display: flex;
    justify-content: center;
    width: 191px;
    height: 88px;

}

.about-us-card-img{
    margin-right: 20px;
}
.about-us{
    padding-bottom: 100px;
}

.border-line{
    border-width: 1px;
    border-image: linear-gradient(89.77deg, transparent 0.2%, #FF7A00 0.2%, transparent 0, #FFB039, transparent 99.82%);
    border-image-slice: 1;
    border-style: solid;
    margin-bottom: 100px;
}
.wrap-contacts{
    display: flex;
    justify-content: space-around;
    margin-bottom: 160px;
}
.contacts:nth-of-type(3n){
    margin-bottom: 93px;
}

.contacts-title h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
    margin: 0 0 42px 0px;
}

.contacts a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    position: relative;
    top: -25px;
}
.contacts img{
    padding: 0 20px 10px 0;
    cursor: pointer;
}
.img-contacts{
    max-width: 758px;

}
.btn-sign-up{
    width: 157px;
    height: 33px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 120px;
}
.wrap-blue{
    max-width: 1440px;
    height: 649px;
    background: url(../img/“.svg) no-repeat;
    background-position: 1200px 40px;
    background-color: #2B7AF1;
}

.reviews h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 100px 0 40px 80px;
}
.reviews-comets{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: 80px;  
}
.reviews-comets-one{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
    background-image: url(../img/stars\ 5.svg);
    background-repeat: no-repeat;
    background-position: 470px 40px;
    
}
.left-arrow{
    position: relative;
    left: -80px;
    top: 40%;
}
.reviews-comets-one h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #2B7AF1;
    margin-top:  -80px;
    margin-bottom: 23px;
}
.reviews-comets-one-content{
    font-family: 'Open Sans', sans-serif;
    width: 550px;
    height: 88px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #111111;
    margin-bottom: 38px;
}
.writer-reviews{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #2B7AF1;
    
}
.city-reviews{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #111111;
    text-align: start;
    margin-top: 5px;
}
.time-reviews{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #111111;
    text-align: end;
    margin-top: -15px;
}

.reviews-comets-two{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
    background-image: url(../img/stars\ 4.svg);
    background-repeat: no-repeat;
    background-position: 470px 40px;
}
.rights-arrow{
    position: relative;
    top: 40%;
    left: 550px;
}
.reviews-comets-two h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #2B7AF1;
    margin-top:  -80px;
    margin-bottom: 23px;
}
.dots-in-blue{
    margin-left: 683px;
    margin-top: 60px;
}

.wrap-feedback{
    max-width: 1440px;
    height: 350px;
    background-color: #FFF;
    box-sizing: border-box;
   
    
}
.feedback{
    display: flex;
    position: relative;
    bottom: -97px;
}
.feedback-form{
    position: relative;
    z-index: 2;
    max-width: 393px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
    filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
    margin-right: 84px;
    margin-left: 188px;
}
.feedback-form h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 24px;
}
.input-name,
.input-email{
    width: 313px;
    color: rgba(17, 17, 17, 0.5);
    border: 1px solid rgba(17, 17, 17, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 0 10px 20px;
    margin-bottom: 15px;
}
.textarea-feedback{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(17, 17, 17, 0.5);
    width: 313px;
    resize: none;
    height: 115px;
    margin-bottom: 24px;
    border-radius: 10px;
    padding: 10px 0 10px 20px;
}
.btn-feedback{
    width: 152px;
    height: 50px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 70px;
}
.feedback-contant{
    padding-top: 40px;
    padding-left: 43px;
    background: url(../img/small\ \ 1.svg);
    background-repeat: no-repeat;
    background-position: top left;
}
.feedback-contant-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #111111;
    margin-bottom: 20px;
}
.feedback-contant-writer{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2B7AF1;
    padding-top: 20px;
    top: 20px;
}
.feedback-contant-writer-position{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    margin-bottom: 40px;
    top: 20px;
}
footer{
    min-height: 557px;
    grid-area: footer;
    background: url(../img/footer\ img.jpg) no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-content: end;
}
footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(17, 17, 17, 0.5);
    opacity: 1;
}
.footer-wrap{
    padding-bottom: 22px;
}
.footer-inside{
    
    position: relative;
    padding-bottom: 20px;
    padding-top: 254px;
    display: flex;
    justify-content: end;
    border-bottom: 2px solid #C4C4C4;
    margin-bottom: 20px;
   
}
.footer-navigasion{
    display: flex;
   justify-content: space-between;
}

.footer-logo{
    padding-left: 80px;
    padding-right: 40px;
    height: 60px;
}
.menu-list-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    list-style: none;
   padding-right: 50px;
}

.menu-list-item-link{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #111111;
    color: #FFFFFF;
}
.footer-contacts{
    display: flex;
    justify-content: start;
}

.footer-mail{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.footer-mail a{
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
    
}
.footer-phone{
    display: flex;
    align-items: center;
    padding-right: 25px;
}
.footer-phone a{
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 10px;
}
.footer-social-link{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.copyright{
    display: flex;
    justify-content: end;
    position: relative;
}
.copyright-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0 229px 0 85px;
}

.copyright-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
   
}