body{
    background:#E5E5E5 ;
    align-items: center;
    height: 1430px;
}
.block-one{
    background: #0B2239;
    display: flex;
    width: 1440px;
    height: 72px;
}
.block-one p{
    color:#FFFFFF;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    width: 922px;
    height: 40px;
    margin: 16px 32px 16px 120px;
}
.block-one a{
    color: #4AD295;
    font-family:'Inter', sans-serif;
    width: 86px;
    height: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin: 10px;
}
.block-one button{
    color:#FFFFFF;
    background-color: #4AD295;
    font-family: Inter;
    margin: 0px 10px;
    cursor: pointer;
}
.block-two {
  background-color: #2B2627;
  margin: 24px;
  width: 1440px;
  height: 52px;
  justify-content: center;
}
.block-two p, a{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 8px;
    padding-top: 16px;
    text-align: center;
}
.block-three{
    background-color: #FFFFFF;
    margin: 24px;
    padding: 16px;
    border-radius: 16px;
    width: 560px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}
.cookie{
background-color: rgba(234, 76, 137, 0.1);
padding: 6px;
border-radius: 10px;
width: 36px;
height: 36px;
}
.block-three img{
    width: 20px;
    height: 20px;
    padding: 8px;
   
}
.block-three p{
    color:  #0D0C22;
    font-family: 'Inter', sans-serif;
    width: 347px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px;
    text-align: justify;
}
.block-three a{
    color: #EA4C89;
    font-family: 'Inter', sans-serif;

}
.button-decline{
    background-color: rgba(13, 12, 34, 0.05);
    color: #0D0C22;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    width: 63px;
    height: 28px;
    border-radius: 8px;
    border-style: none;
    margin: 10px
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 10px;
}
.button-allow{
    width: 52px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    background: #EA4C89;
    border-radius: 8px;
    border-style: none;
    margin: 10px;
    padding: 4px 10px;
}
.block-four{
    width: 560px;
	height: 64px;
	margin-left: 26px;
	margin-bottom: 72px;
	background: #26262B;
	border-radius: 10px;
	display: flex;
}
.block-four p{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
	color: #FFFFFF;
	width: 469px;
	height: 40px;
	padding-bottom: 12px;
	padding-left: 16px;
    text-align: justify;
}
.block-four p a{
    color: chocolate;
    text-decoration: none;
}
.link-okay{
    width: 49px;
	height: 28px;
	background: #FFFFFF;
	border-radius: 8px;
	margin: 18px 16px 18px 10px;
	text-align: center;
	padding-top: 4px;
	color: black;
	text-decoration: none;
}
  .block-five{
    width: 360px;
	height: 206px;
	background: rgba(28, 37, 64, 0.95);
	border-radius: 6px;
    padding: 0px;
  }
  .block-five h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	padding-top: 24px;
	color: #FFFFFF;
	padding-left: 14px;
  }
  .block-five p{
    font-family: 'Roboto', sans-serif;
    width: 312px;
	font-size: 14px;
	color: #FFFFFF;
	padding-left: 14px;
  }
  .block-five p a{
    color: #FFFFFF;
  }
  .block-five span{
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	padding-left: 14px;
    padding: 24px;
  }
  .block-five button{
    font-family: 'Roboto', sans-serif;
    width: 85px;
	height: 32px;
	background: #09B3AF;
	border-radius: 6px;
	color: #FFFFFF;
	border: none;
  }
  .block-six{
    width: 360px;
	background: #FFFFFF;
	border-radius: 16px;
    padding-bottom: 16px;
  }
  .block-six h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding-top: 24px;
	color: #0F181D;
	padding-left: 10px;
	padding-bottom: 10px;
  }
  .block-six p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
	line-height: 20px;
	color: #687F8C;
    padding: 8px;
  }
  .mg-cookies-bt{
    font-family: 'Roboto', sans-serif;
    width: 160px;
	height: 32px;
	font-size: 14px;
	border-radius: 6px;
	color: #687F8C;
	margin: 0px 8px;
	border: none;
  }
  .act-all-bt{
    font-family: 'Roboto', sans-serif;
    width: 160px;
	height: 32px;
	background: #40C1A7;
	border-radius: 6px;
	color: #FFFFFF;
	border: none;
  }